.main-container{
    height: 100vh;
    display: flex;
    padding: 18px;
    font-family: "Montserrat", sans-serif;
}

.sidebar{
    background-color: black;
    color: #fff;
    width: 20%;
    border-radius: 18px;
    padding: 12px;

}

.sidebar h1{
    margin-bottom: 12px;
}
.option i{
    margin-right: 8px;
    margin-bottom: 10px;
}

.options-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
}
main{
    width: 80%;
    padding: 18px;
}
.dashboard-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon {
    font-size: 25px;
    margin: 8px;
}
.card{
    height: 120px;
    width: 222px;
    padding: 20px;
    margin: 12px;
    border-radius: 12px;
}

.card-1{
    background-color: #DDEFE0;
}

.card i{
    text-align: right;
    font-size: 36px;
}

.card-2{
    background-color: #F4ECDD;
}

.card-3{
    background-color: #EFDADA;
}

.card-4{
    background-color:#DEE0EF;
}